body{
    margin: 0;
    padding: 0;
}

.signup{
    margin-left: 100px;
}

.suform{
    margin-left: 80vh;
    height: 50vh;
    padding: 50px;
    width: 410px;
    background-color: rgb(243, 241, 241);
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.suform label{
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
}

.suform input{
    padding: 5px;
}

.signupdiv h1{
    margin-top: 30px;
    margin-left: 415px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name{
    margin-left: 22px;
}

#email{
    margin-left: 23px;
}

#submitbtn{
    margin-left: 120px;
    width: 90px;
    margin-top: 20px;
}